@{ ViewData["Title"] = "Home Page"; }
<h1>Welcome to Quoting Dojo</h1>
<div id="text">
    <h2>Your Name</h2>
    <h3>Your Quote</h3>
</div>
<div id="inputs">
    <input type="text" name="Name" minlength="1">
    <input type="textarea" rows="4" cols="30" name="Quote" minlength="1"></textarea>"
    <input type="hidden" name="Date" value=>
</div>