@{ ViewData["Title"] = "Data Validation Form Page"; }
<h1>Data Validation Form</h1>

<form action="/CreateUser" method="post">
    <p>First Name: <input type="text" name="FirstName" minlength="4"></p>
    <p>Last Name:<input type="text" name="LastName" minlength="4"></p>
    <p>Age:<input type="number" name="Age" min="1" max="150"></p>
    <p>Email:<input type="email" name="Email"></p>
    <p>Password (#aA x8):<input type="password" name="Password" minlength="8" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" onchange="form.pwd2.pattern = this.value;"></p>
    <p>Confirm Password: <input type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" name="pwd2"></p>>
    <button type="submit">Enter info</button>
</form>