@{
<h1>Click Generate to create passcode!</h1>

<form action="/" , method="post">
    <button type="Submit">Generate new code</button>
    <input type="hidden" name="count" value="@ViewBag.count">
</form>
}